body{
    background-color: #e8e8e8;
    color: #2d49a6;
}
/* Seletor tipo */
h1{
    color: green;
}
p{
    color: green;
}
/* Seletor descendente */
p span{
    color: red;
}
/* Seletor pseudo-classe */
a:hover{
    color: gold;
}
/* Seletor ID identificação única */
#menu{
    color: blue;
}
#conteudo{
    color: indigo;
}
/* Seletor tipo class */
.cont_destaq{
    color: orange;
}
.mais_acessado{
    font-size: 23px;
}

